/* PC */
@media (min-width: 1024px) {}

/* table and mobile  */
@media (max-width: 740px) {

    #end-img {
        height: 65vh;
     }


    #mod .mod-item {
        line-height: 80px;
        padding: 0 17px;
        color: #000;
        text-decoration: none;
        display: none;
    }

    #mod .tour {
        display: none;
    }

    .item-nav {
        line-height: 38px;
        padding: 0px 5px;
        border-right: 1px solid #ccc;
        font: 14px;
    }

    .nav-bot .nav-bot-item {
        padding: 0px 15px;
        font-size: 5px;
    }

    #logo-main .logo-img {
        margin: auto;
        padding: 0 15px;
        display: none;
    }

    #slider{
        height: 555px;
    }

    #slider .text-header {
        color: #fff;
        font-size: 30px;
        line-height: 109px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }



    #intro .content-main {
        margin: 0px -35px;
    }

    #slider .text-slogan {
        width: 95%;
    }

    #slider .button-item {
        display: none;
    }

    #list-tour {
        display: block; 
        margin-left: 0;
    }

    #list-tour .tour-item {
        margin-right: 30px;
        height: 600px;
        margin-top: 15px;
        width: 105%;
        /* padding: 0 5px; */
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        cursor: pointer;
    }

    .list_info {
        width: 100%;
        padding: 10px;
    }

    #list_block {
        display: inline-block;
    }

    #list_check_in .info-content {
        font-size: 13px;
    }

    #test .block {
        width: 93%;
    }

    #blog_footer {
        width: 100%;
        margin-top: 0px;
    }

    #blog_footer .footer-img {
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    #end-img .info-end {
        color: #fff;
        font-size: 25px;
        width: 100%;
    }

    #end-img .text-end-container-left {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20%;
        width: 90%;
        padding-left: 19px;
    }

}

/* table */
@media (min-width:740px) and (max-width: 1023px) {

    #mod .mod-item {
        line-height: 80px;
        padding: 0 17px;
        color: #000;
        text-decoration: none;
        display: none;
    }

    #mod .tour {
        display: none;
    }

    #logo-main .logo-img {
        display: none;
    }

    #intro .content-main {
        margin: 0;
    }

    #slider .text-slogan {
        width: 100%;
    }


    #test .item-blog-1 {
        width: 500px;
        margin-bottom: 10px;
    }

    #test .item-blog-2 {
        width: 500px;
        margin-bottom: 10px;
    }

    #test .item-blog-3 {
        width: 500px;
        margin-bottom: 10px;
    }

    #test .block {
        width: 61%;

    }

    #list_check_in .info-main {
        font-size: 23px;
        font-weight: 600;
    }

    #list_check_in .info-content {
        margin-top: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }
}